<!DOCTYPE html>
<html>
  <header>
    <h1 class="header">Header</h1>
  </header>

  <section class="main-content">
    <mat-card class="side">
      <mat-card-content>
        <aside id="flip">
          Wirefram
        </aside>
      </mat-card-content>
    </mat-card>

    <mat-card class="main">
      <mat-card-header>

      </mat-card-header>
      <mat-card-content>
        <aside>
          <img mat-card-image src="https://raw.githubusercontent.com/qlprince/atta/master/assets/ATTA.png" alt="Photo of a Shiba Inu">
        </aside>
      </mat-card-content>
    </mat-card>
  </section>

  <section class="main-content">
    <mat-card class="side">
      <mat-card-content>
        <aside id="flip">
          Wirefram
        </aside>
      </mat-card-content>
    </mat-card>

    <mat-card class="main">
      <mat-card-header>

      </mat-card-header>
      <mat-card-content>
        <aside>
          <img mat-card-image src="https://raw.githubusercontent.com/qlprince/atta/master/assets/ATTA.png" alt="Photo of a Shiba Inu">
        </aside>
      </mat-card-content>
    </mat-card>
  </section>
</html>
