
header {
  background: purple;
  height: 100px;
}
.header {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}
.main-content {
  display: flex;
  margin-top: 10px;
}
aside {
  padding: 10px;
  margin: 10px;
  flex: 1;

  display: block;
  position: relative;
  //margin: 40px 0;
}

aside:nth-of-type(2) {
  flex: 10;
}

mat-card  {
  background-color: orange;
}

#flip {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: 200px;
}

.side {
  margin-right: 10px;
}
